.App {
  text-align: left;
  background-color: #e6e6e6; /* Light gray background */
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.App-logo-left {
  height: 150px; /* Adjust image height as needed */
  float: left;
  margin-right: 20px; /* Add spacing between image and text */
}

.App-logo-right {
  height: 150px; /* Adjust image height as needed */
  float: right;
  margin-left: 20px; /* Add spacing between image and text */
}

.image-description {
  color: #ff99cc; /* Pink color for image descriptions */
}

.App-header {
  background-color: #66b3ff; /* Bright blue background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

/* Add styling for blog post content */
.blogPost {
  background-color: white;
  border: 1px solid #e1e1e1;
  box-shadow: 2px 2px 12px #aaa;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
}

.blogPost h3 {
  color: #333;
}

.blogPost p {
  color: #666;
}
